<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>com.mamiksik.DesktopProfiles</string>
	</array>
	<key>com.apple.security.automation.apple-events</key>
	<array>
		<string>com.apple.systempreferences</string>
		<string>com.apple.SystemEvents</string>
	</array>
	<key>com.apple.security.scripting-targets</key>
	<string></string>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.apple.systempreferences</string>
		<string>com.apple.systemevents</string>
	</array>
</dict>
</plist>
